[Unit]
Description=UniversalDot Node
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/target/release/node-template \
--base-path /tmp/bob \
--name {{ validator_name }} \
--chain local \
--bob \
--port 30334 \
--ws-port 9946 \
--rpc-port 9934 \
--telemetry-url "wss://telemetry.polkadot.io/submit/ 0" \
--validator \
--bootnodes /ip4/194.135.82.229/tcp/30333/p2p/12D3KooWEyoppNCUx8Yx66oV9fJnriXwCcXwDDUA2kj6vnc6iDEp

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target