[Unit]
Description=UniversalDot Node
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/target/release/node-template \
 --dev \
 --tmp \
 --ws-external \
 --rpc-cors all

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target