[Unit]
Description=UniversalDot Node
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/target/release/node-template \
--base-path /tmp/bob \
--name {{ validator_name }} \
--chain local \
--bob \
--port 30333 \
--ws-port 9945 \
--rpc-cors all \
--ws-external \
--rpc-external \
--rpc-methods=Unsafe \
--rpc-port 9933 \
--telemetry-url "wss://telemetry.polkadot.io/submit/ 0" \
--validator \
--bootnodes /ip4/194.135.82.229/tcp/30333/p2p/{{ local_node_identity }}

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target